.catalog {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.filter {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.category {
  margin-right: 15px;
  color: #84888f;
  cursor: pointer;
  &.active {
    color: red;
  }
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchCatalogInput {
  margin-top: 8px !important;
  width: 1000px !important;
  height: 35px !important;
  border: 0.7px solid #d1d1d1 !important;
  border-radius: 25px !important;
  text-overflow: ellipsis !important;
  padding-right: 25px !important;
  caret-color: #2e2c33 !important;
  padding-left: 30px !important;
  &:active {
    border: 0.7px solid #d1d1d1 !important;
  }
  &:focus {
    border: 0.7px solid #d1d1d1 !important;
  }
}

.empty__info {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
