.footer {
  background-color: #f8f9fa;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 30px;
  flex-grow: 1;
}

.footer_menu {
  display: flex;
  flex-direction: column;
}

.pay {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 30%;
  margin-top: 30px;
  flex-grow: 4;
}

.footer_sprite {
  width: 300px;
  height: 40px;
  background-image: url("../../assets/images/footer-pay.png");
  margin-right: 20px;
}

.footer_media {
  width: 95px;
  height: 40px;
  background-image: url("../../assets/images/footer-media.png");
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 30px;
  flex-grow: 1;
}

.footer_info {
  max-width: 320px;
}
